body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.body-dark {
  background-color: black;
}

.content {
  margin-top: 2em;
  text-align: center;
}

.content-dark {
  color: white;
}

.title-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 6.5em;
}

.font-outer {
  font-family: "Times New Roman", Times, serif;
  font-size: 5em;
  font-weight: lighter;
  color: #020202;
  transform: scaleY(2.5);
  line-height: 0;
}

.font-outer-dark {
  color: white;
}

.font-inner {
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 5em;
  font-weight: bolder;
  transform: scale(0.95, 0.7);
  line-height: 0;
}

.topic {
  font-family: Consolas, sans-serif;
  font-size: 1.3em;
  margin-bottom: 1em;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.topic.faded-in {
  opacity: 1;
}

.topic:hover {
  font-style: italic;
  text-decoration: underline;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

body,
.content,
.font-outer,
footer {
  transition: background-color 1s ease;
}

@keyframes fadeinall {
  0% {
      opacity: 1;
  }
  97% {
      opacity: 0;
  }
  98% {
      opacity: 0;
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
  100% {
      opacity: 0;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      z-index: -1;
  }
}

#fadein {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  z-index: 999;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: fadeinall 1s normal both;
  animation: fadeinall 1s normal both;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.fadein {
  background-color: white;
}

.fadein-dark {
  background-color: black;
}

#fadeout {
  opacity: 0; /* Changed from 1 to 0 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  z-index: 999;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation: fadeoutall 0.5s normal both; /* Changed animation name */
  animation: fadeoutall 1s normal both; /* Changed animation name */
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.fadeout {
  background-color: white;
}

.fadeout-dark {
  background-color: black;
}

@keyframes fadeoutall {
  0% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
}

.loader-wrapper-dark {
  background-color: black;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin-top: calc(50vh - 20px);
  display: inline-block;
  box-sizing: border-box;
  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}

.loader-dark {
  border: 5px solid white;
  border-bottom-color: black;
}
